$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
@import "./reset.scss";
@import "../restaurant/page-restaurant";

.block{
    display: block;
}
a,a:active,a:visited{
    color: black;
    text-decoration: none;

}
body{
    background-color: 
    #F6F6F6;
}
button:hover{
    opacity: 85%;
    cursor: pointer;
}

.header{
    display: grid;
        .header__img{
        display: flex;
        min-width: 100%;
        background-color: white;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 2px 4px rgb(0,0,0, 0.15));
       

        .header__logo{
            width: 197px;
            height: 36px;
            margin-top: 15px;
            margin-bottom: 15px;

        }
    }
    .header__form{
        min-width: 100%;
        display: flex;
        min-height: 50px;
        filter: drop-shadow(0px 4px 4px rgb(0,0,0, 0.25));
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        gap: 17px;
        .header__form__imput{
            border: none;
            background-color: #EAEAEA;
            font-size: 16px;
            font-weight: 500;
            color: #353535;
            font-family: roboto;
            transform: translateX(30px);
        }
        i{
            transform: translateX(30px);
        }
    }   
}

.home{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 30px;
    &__title{
        font-size: 24px;
        font-weight: 700;
        font-family: "Roboto";
    }
    &__texte{
        font-size: 18px;
        font-weight: 300;
        font-family: "Roboto";
    }
    &__button{
        border: none;
        background: linear-gradient(to bottom,#FF79DA,#9356DC );
        filter: drop-shadow(0px 4px 10px rgb(0,0,0, 0.25));
        font-size: 16px;
        font-weight: 500;
        font-family: "Roboto";
        border-radius: 25px;
        color: white;
        height: 50px;
        width: 218px;
        align-self: center;

    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    &__title{
            font-size: 24px;
            font-weight: 700;
            font-family: "Roboto";
        }
    &__button{
            display: flex;
            min-width: 80%;
            height: 72px;
            background-color: #F6F6F6;
            border-radius: 20px;
            filter: drop-shadow(0px 4px 15px rgb(0,0,0, 0.15));
            border: none;
            align-self: center;
            font-size: 16px;
            font-weight: 500;
            font-family: "Roboto"; 
            align-items: center; 
            margin-bottom: 20px;  
            span{
                display: flex;
                margin-left: -12px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: violet;
                color: white;
                align-items: center;
                justify-content: center;
            }
            }
    i{
        margin-right: 30px;
        margin-left: 30px;
        }
}

.fa-mobile-screen-button{
    color: #7E7E7E;
}

.fa-list-ul{
    color: #7E7E7E;
}

.fa-store{
    color: #9356DC;
}

.restaurant{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    &__title{
        margin-left: 30px;
        font-size: 24px;
        font-weight: 700;
        font-family: "Roboto";
    }
    &__card{
        display: flex;
        flex-direction: column;
        height: 251px; 
        background-color: white;
        margin-left: 30px;
        margin-right: 30px;
        filter: drop-shadow(0px 4px 15px rgb(0,0,0, 0.25));
        border-radius: 15px;

        &__tag{
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: #99E2D0;
            color: #008766;
            font-weight: 500;
            font-size: 14px;
            padding: 5px 10px;

        }

        &__content{
            display: flex;
            min-width: 100%;
            &__texte{
                min-width: 60%;
                padding-left: 10px;
                &__title{
                    margin-top: 15px;
                    margin-bottom: 0px;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: "Roboto";
                }
                &__subtexte{
                    margin-top: 5px;
                    margin-bottom: 0px;
                    font-size: 17px;
                    font-weight: 300;
                    font-family: "Roboto";

                }
            }

            .restaurant__icon{
                display: flex;
                align-self: center;
                justify-content: flex-end;
                width: 100%;
                height: 70px;
                position: relative;
                justify-content: center;
                align-items: center;
                &__heart1{
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    padding: 1px 1px;
                }
                &__heart2 {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    padding: 1px 1px;
                    opacity: 0;
                    background: linear-gradient(to bottom,#FF79DA,#9356DC );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    
                    transition: all 0.4s;

                    &:hover {
                        opacity: 1;
                      }
                }
   
            }
            
        }
        
    }
    &__img{
        height: 174px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    gap: 16px;
    padding: 22px 25px 22px 25px;
    h2{
        font-size: 18px;
        font-weight: 400;
        font-family: "Shrikhand";
        font-style: italic;
        margin: 0px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Roboto";
        &__line{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;

        }
    P{
        margin: 0px;
    }

    }
}

@media (min-width: 992px) {

    .home__title{
        font-size: 40px;
    }

    .fonctionnement{
        max-width: 1440px;
        padding: 50px 180px;
    }
    .fonctionnement__buttons{
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;

        gap: 25px;

        &__title{
            min-width: 100%;
        }
    }
    .fonctionnement__button{
        min-width: inherit;
        flex: 1;
    }
    

    .restaurant{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 180px;
        gap: 28px;
        &__title{
            width: 100%
        }
        a{
            min-width: 48%;
        }
    }

    .footer{
        flex-direction: row;
        justify-content: end;
        padding: 30px 25px;
        padding-top: 65px;
        gap: 18px;
        h2{
            order: 2;
            padding-left: 5px;
        }
        &__content{
            flex-direction: row;
            gap: 17px;
        }
    }
} 





